{% load apptags %}
{% load humanize %}

<tr class="{% if user == player %}current-player{% endif %} {% if player.total_distance|achievedGoal:challenge.distance %}goal-achieved{% endif %}">
    <td>{{ rank }}.</td>
    <td>
        <span class="avatar img-rounded">
            <img src="{{ player.normal_picture|avatar }}" class="img-small">
        </span>
    </td>
    <td class="player">
        <span class="name"><a href="{% url "user_details" player.id %}">{{ player.fullname }}</a></span>
        <div class="flair">
            {% if player.total_distance|achievedGoal:challenge.distance %}
                <i class="icon-trophy"></i>
            {% endif %}

            {% if player.total_distance|overAchiever:challenge.distance %}
                <i class="icon-star {% if player.total_distance|tripledGoal:challenge.distance %}gold{% elif player.total_distance|doubledGoal:challenge.distance %}silver{% else %}bronze{% endif %}"></i>
            {% endif %}

            {% if player.latest_activity_date|isToday %}
                <i class="icon-heart red" title="Active today"></i>
            {% endif %}
        </div>
    </td>
    <td>
        <a class="activities-link" data-url="{% url "useractivities" player.id challenge.id %}" data-userid="{{ player.id }}" data-toggle="popover" data-html='true' data-trigger="manual" data-placement="left" data-title='{{ player.fullname }}' data-container="body">
            {{ player.total_distance|toMiles|twoDecimals }}
        </a>
    </td>
</tr>