{% load apptags %}
{% load humanize %}

<tr class="{% if user == player %}success{% endif %}">
    <td>{{ rank }}</td>
    <td>
        <span class="avatar img-rounded">
            <img src="{{ player.medium_picture|avatar }}" class="img-small">
            {% if player.total_distance|achievedGoal:challenge.distance %}
                <i class="icon-check-sign white"></i>
            {% endif %}
        </span>
    </td>
    <td class="player">
        <span class="name"><a href="{{ player.profile_url }}" target="_blank">{{ player.fullname }}</a></span>
        <span class="flair">
            {% if player.total_distance|overAchiever:challenge.distance %}
                <i class="icon-star {% if player.total_distance|doubledGoal:challenge.distance %}golden{% else %}silver{% endif %}"></i>
            {% endif %}

            {% if player.latest_activity_date|isToday %}
                <i class="icon-heart red" title="Active today"></i>
            {% endif %}
        </span>
    </td>
    <td>
        <a class="activities-link" data-url="{% url "useractivities" player.id challenge.id %}" data-userid="{{ player.id }}" data-toggle="popover" data-placement="left" data-title='{{ player.fullname }}'>
            {{ player.total_distance|toMiles|twoDecimals }}
        </a>
    </td>
</tr>