{% load apptags %}
{% load humanize %}

<tr class="{% if user == player %}current-player{% endif %} {% if player.total_accounting|achievedGoal:challenge %}goal-achieved{% endif %}">
    <td>{{ rank }}.</td>
    <td>
        <span class="avatar img-rounded" style="background:url('{{ player.normal_picture|https|avatar }}');background-size: cover;"></span>
    </td>
    <td class="player">
        <span class="name"><a href="{% url "user_details" player.id %}">{{ player.fullname }}</a></span>
        <div class="flair">
            {% if player.total_accounting|achievedGoal:challenge %}
                <i class="fa fa-trophy"></i>
            {% endif %}

            {% if player.total_accounting|overAchiever:challenge %}
                <i class="fa fa-star {% if player.total_accounting|tripledGoal:challenge %}gold{% elif player.total_accounting|doubledGoal:challenge %}silver{% else %}bronze{% endif %}"></i>
            {% endif %}

            {% if player.latest_activity_date|isToday %}
                <i class="fa fa-heart red" title="Active today"></i>
            {% endif %}
        </div>
    </td>
    <td>
        <a class="popover-link activities-link distance-enclave" data-url="{% url "useractivities" player.id challenge.id %}" data-userid="{{ player.id }}" data-toggle="popover" data-html='true' data-trigger="manual" data-placement="left" data-title='{{ player.fullname }}' data-container="body">
			{% accounting player.total_accounting challenge.accountingType user %}
        </a>
    </td>
</tr>