{% if competitor and user.balance >= 0 and not challenge.hasEnded %}
    <div class="fc-callout fc-callout-info" data-calloutid="social-callout-{{ challenge.id }}">
        <button type="button" class="close close-callout">&times;</button>
        <h4>It's more fun with friends. <small>Share the love</small></h4>
        <button type="button" class="btn btn-default btn-share" data-service="twitter"><i class="icon-twitter icon-2x"></i><br/>Tweet</button>
        <button type="button" class="btn btn-default btn-share" data-service="facebook"><i class="icon-facebook-sign icon-2x"></i><br/>Share</button>
        <button type="button" class="btn btn-default btn-share" data-service="google"><i class="icon-google-plus icon-2x"></i><br/>Share</button>
    </div>
{% endif %}