{% if isCompetitor and not challenge.hasEnded %}
    <div class="fc-callout fc-callout-info" data-calloutid="social-callout-{{ challenge.id }}">
        <button type="button" class="close close-callout">&times;</button>
        <h4>It's more fun with friends. <small>Share the love</small></h4>
        <button type="button" class="btn btn-default btn-standard btn-share" data-service="twitter"><i class="fa fa-twitter fa-2x"></i><br/>Tweet</button>
        <button type="button" class="btn btn-default btn-standard btn-share" data-service="facebook"><i class="fa fa-facebook-square fa-2x"></i><br/>Share</button>
        <button type="button" class="btn btn-default btn-standard btn-share" data-service="google"><i class="fa fa-google-plus fa-2x"></i><br/>Share</button>
    </div>
{% endif %}