{% extends 'base.html' %}
{% load apptags %}
{% load humanize %}
{% load staticfiles %}

{% block head_title %}Account Summary{% endblock %}

{% block ng_app %}account{% endblock %}

{% block content %}
	{% verbatim %}
		<div ng-controller="account-controller">
			<div class="page-header">
				<h2>Account Summary <small ng-class="{red: account.balance<0}">Balance: {{ account.balance | currency }}</small></h2>
			</div>

			<alert type="{{alertType}}" ng-show="account.balance != 0">
				<p>{{ alertMessage }}</p>
				<div class="good-news top-padding" ng-show="account.balance > 0">
					<a href="/challenges" class="btn btn-primary">Find a Challenge</a>
					<button class="btn btn-link" ng-click="openCashOutModal()">Cash Out</button>
				</div>
				<div class="bad-news top-padding" ng-show="account.balance < 0">
					<a href="#" class="btn btn-primary">Settle Up Now</a>
				</div>
			</alert>

			<h3>Transactions</h3>
			<table class="table table-striped">
				<thead>
					<th>Date</th>
					<th>Description</th>
					<th>Amount</th>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in transactions | orderBy:'date':true" ng-cloak>
						<td title="{{ transaction.date }}">{{ transaction.date | date:"longDate"}}</td>
						<td>{{ transaction.description }}</td>
						<td ng-class="{red: transaction.amount<0}">{{ transaction.amount | currency }}</td>
					</tr>
				</tbody>
			</table>
			<pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="totalTransactions" ng-model="currentPage" items-per-page="maxApiRecords" ng-change="pageChanged()"></pagination>
		</div>

		<script type="text/ng-template" id="cashOutModalContent.html">
			<div class="modal-header">
				<h4 class="modal-title">Cash Out</h4>
			</div>
			<form novalidate name="form" show-validation>
				<div class="modal-body">
					<p>We use PayPal to securely send you money. Just tell us the email address that is associated with your PayPal account and how much
						to send you.</p>
					<fieldset>
						<div class="form-group">
							<label for="inputEmailAddress">PayPal Email Address</label>
							<input type="email" class="form-control" id="inputEmailAddress" placeholder="Enter email" ng-model="details.email" required>
						</div>
						<div class="form-group">
							<label for="inputAmount">Amount to cash out.</label>
							<input type="number" class="form-control" id="inputAmount" placeholder="Enter dollar amount ({{ accountBalance|currency }} max)" ng-model="details.amount" min="0" max="{{ accountBalance }}" required>
						</div>
					</fieldset>
					<p>After submitting this form, watch your PayPal account for a credit in the next few days.</p>
				</div>
			</form>
			<div class="modal-footer">
					<button class="btn btn-default" ng-click="cancel()">Nevermind</button>
					<button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Cash Out</button>
				</div>
		</script>
	{% endverbatim %}

	{% aggregate inline_javascript %}
	<script type="text/javascript">
		(function() {
			"use strict";
			var accountApp = angular.module('account', ['api', 'directives', 'ui.bootstrap']);

			accountApp.controller('cash-out-modal-controller', function ($scope, $modalInstance) {
				$scope.accountBalance = parseFloat(FC['user']['account']['balance']);
				$scope.details = {
					email: '',
					amount: null
				}

				$scope.ok = function () {
					$modalInstance.close($scope.details);
				};

				$scope.cancel = function () {
					$modalInstance.dismiss('cancel');
				};
			});

			accountApp.controller('account-controller', ['$scope', 'User', 'Transactions', 'CashOut', '$modal', function($scope, User, Transactions, CashOut, $modal) {
				$scope.transactions = [];
				$scope.account = FC.user.account;
				$scope.currentPage = 1;
				$scope.maxApiRecords = 10;
				$scope.alertType = $scope.account.balance >= 0 ? "info" : 'danger';

				$scope.openCashOutModal = function() {
					var modalInstance = $modal.open({
						templateUrl: 'cashOutModalContent.html',
						controller: 'cash-out-modal-controller'
					});

					modalInstance.result.then(function (details) {
						CashOut.go(details);
					});
				};


				function handleTransactions(response) {
					$scope.totalTransactions = response.count;
					$scope.transactions = response.results
				}

				$scope.pageChanged = function() {
					Transactions.list({
						page: $scope.currentPage,
						page_size: $scope.maxApiRecords
					}, handleTransactions);
				};

				if( $scope.account.balance >= 0) {
					$scope.alertMessage = "Nice!  You've got a stash of cash.  You can join another challenge or cash out."
				}else {
					$scope.alertMessage = "Your account balance is negative!  Don't worry, it's easy to settle up."
				}

				$scope.pageChanged();

			}]);
		})();
	</script>
	{% endaggregate %}

{% endblock %}