{% extends 'base.html' %}
{% load apptags %}
{% load humanize %}
{% load staticfiles %}

{% block head_title %}Account Summary{% endblock %}

{% block ng_app %}account{% endblock %}

{% block content %}
	{% verbatim %}
		<div ng-controller="account-controller" ng-cloak>
			<div class="page-header">
				<h2>Account Summary <small ng-class="{red: user.account.balance<0}">Balance: {{ user.account.balance | currency }}</small></h2>
			</div>

			<alert type="alertType">
				<p>{{ alertMessage }}</p>
				<div class="top-padding">
					<a href="#" class="btn btn-primary">Find a Challenge</a>
					<button class="btn btn-link">Cash Out</button>
				</div>
			</alert>

			<h3>Transactions</h3>
			<table class="table table-striped">
				<thead>
					<th>Date</th>
					<th>Description</th>
					<th>Amount</th>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in transactions | orderBy:'date':true">
						<td title="{{ transaction.date }}">{{ transaction.date | date:"longDate"}}</td>
						<td>{{ transaction.description }}</td>
						<td ng-class="{red: transaction.amount<0}">{{ transaction.amount | currency }}</td>
					</tr>
				</tbody>
			</table>
			<pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="totalTransactions" page="currentPage" items-per-page="10" on-select-page="setPage(page)"></pagination>
		</div>
	{% endverbatim %}

	{% aggregate inline_javascript %}
	<script type="text/javascript">
		(function() {
			"use strict";

			var fcServices = angular.module('fcServices', ['ngResource']);

			fcServices.factory('User', ['$resource', function($resource) {
				return $resource('/api/users/:userID', {
					userID: '@userID'
				}, {
					get: {
						method: 'GET',
						transformResponse: function(data, headers){
							data = JSON.parse(data);
							data.account.balance = parseFloat(data.account.balance);
							return data;
						}
					}
				});
			}]);

			fcServices.factory('UserTransactions', ['$resource', function($resource) {
				return $resource('/api/users/:userID/transactions?page=:pageNumber', {
					userID: '@userID',
					pageNumber: '@pageNumber'
				}, {
					query: {
						method: 'GET',
						params: {
							pageNumber: 1
						},
						transformResponse: function(data, headers){
							data = JSON.parse(data);
							var count = data.results.length;
							for(var i=0;i<count;i++) {
								data.results[i].date = new Date(data.results[i].date);
								data.results[i].amount = parseFloat(data.results[i].amount);
							}
							return data;
						}
					}
				});
			}]);


			var accountApp = angular.module('account', ['fcServices', 'ui.bootstrap']);

			accountApp.controller('account-controller', ['$scope', 'User', 'UserTransactions', function($scope, User, UserTransactions) {
				$scope.transactions = [];
				$scope.alertType = "info";

				var userID = 3;

				$scope.setPage = function(pageNum) {
					UserTransactions.query({userID: userID, pageNumber: pageNum}, function(response) {
						$scope.transactions = response.results
					});
				};

				User.get({userID: userID}, function(response) {
					$scope.user = response;
					if (response.account.balance >= 0) {
						$scope.alertType = 'info';
						$scope.alertMessage = "You have a positive account balance.  You can join another challenge or cash out."
					}else {
						$scope.alertType = 'danger';
						$scope.alertMessage = "You have a negative account balance.  It's time to settle up!  You can do that by following these steps:"
					}
				});

				UserTransactions.query({userID: userID}, function(response) {
					$scope.totalTransactions = response.count;
					$scope.transactions = response.results
				});

			}]);
		})();
	</script>
	{% endaggregate %}

{% endblock %}