{% load apptags %}
{% load compressed %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% compressed_css 'all-css' %}
        {% block head_css %}{% endblock %}

        {% compressed_js 'all-js' %}
        {% block head_scripts %}{% endblock %}
    </head>
    <body>
        <header class="navbar navbar-static-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Fit Competition</a>
                </div>

                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url "home" %}" title="Challenges">Challenges</a></li>
                            <li><a href="{% url "user_profile" %}">My Profile</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% if user.is_authenticated %}
                            <li><a href="#">Balance: {{ user.balance|currency }}</a></li>
                            <li><a href="{% url "logout" %}" title="{{ user.first_name }} {{ user.last_name }} is signed in.">Sign Out</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}" title="Sign in with Runkeeper">Sign In</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container main-container">
            {% block content %}
            {% endblock %}
        </div>
        {% if "GOOGLE_ANALYTICS_TRACKING_ID"|fromSettings %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ "GOOGLE_ANALYTICS_TRACKING_ID"|fromSettings }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </body>
</html>
