{% load apptags %}
{% load compressed %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}{% endblock %} | Fit Crown</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_misc %}{% endblock %}

        {% compressed_css 'all-css' %}
        {% block css %}{% endblock %}
    </head>
    <body ng-app="{% block ng_app %}{% endblock %}">
        <header class="navbar navbar-static-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Fit Crown</a>
                </div>

                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url "challenges" %}" title="Challenges">Challenges</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url "user_profile" %}">My Profile</a></li>
                        {% endif %}
                        <li><a href="{% url "faq" %}" title="Frequently Asked Questions">FAQ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'account' %}">Balance: {{ user.account.balance|currency }}</a></li>
                            <li><a href="{% url "logout" %}?next={{ request.path }}" title="{{ user.first_name }} {{ user.last_name }} is signed in.">Sign Out</a></li>
                        {% else %}
                            <li><a href="#loginModal" data-toggle="modal" title="Sign In">Sign In</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>


        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign In With&hellip;</h4>
                    </div>
                    <div class="modal-body">
                        <a class="btn btn-default btn-standard btn-sign-in runkeeper" href="{% url 'social:begin' 'runkeeper' %}?next={{ request.path }}" title="Sign In with Runkeeper"><div class="logo"></div></a>
                        <a class="btn btn-default btn-standard btn-sign-in mapmyfitness" href="{% url 'social:begin' 'mapmyfitness' %}?next={{ request.path }}" title="Sign In with Map My Run"><div class="logo"></div></a>
                        <a class="btn btn-default btn-standard btn-sign-in strava" href="{% url 'social:begin' 'strava' %}?next={{ request.path }}" title="Sign In with Strava"><div class="logo"></div></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="container main-container">
            {% block content %}{% endblock %}
        </div>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script type="text/javascript">
			var FC = {
				'API_PAGE_SIZE': {{ "API_PAGE_SIZE"|fromSettings }},
			};

			{% if user.is_authenticated %}
				FC['user'] = {{ user|serialize:"UserSerializer" }};
				FC['user']['account']['balance'] = parseFloat(FC['user']['account']['balance']);
			{% else %}
				FC['user'] = null;
			{% endif %}

			Stripe.setPublishableKey('{{ "STRIPE_PUBLISHABLE_KEY"|fromSettings }}');
		</script>

		{% compressed_js 'all-js' %}
		{% block javascript %}{% endblock %}
		{{ inline_javascript }}

		{% if "GOOGLE_ANALYTICS_TRACKING_ID"|fromSettings %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ "GOOGLE_ANALYTICS_TRACKING_ID"|fromSettings }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </body>
</html>
