{% extends 'base.html' %}
{% load apptags %}
{% load humanize %}
{% load staticfiles %}

{% block head_title %}{{ challenge.name }}{% endblock %}

{% block head_misc %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <meta property="og:title" content="{{ challenge.name }} | Fit Competition" />
    <meta property="og:image" content="{{ request|hostUrl }}/static/img/running.jpg" />
{% endblock %}


{% block head_scripts %}
    {{ block.super }}
{% endblock %}

{% block head_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{{ challenge.name }}</h2>
    </div>
    <p class="lead">
        Complete {{ challenge.distance|floatformat:"-1" }} miles in {{ challenge.numDays }} days by {{ approvedActivities|commaSeparated:"or" }} between <strong>{{ challenge.startdate|date:"F j, Y" }}</strong> and <strong>{{ challenge.enddate|date:"F j, Y" }}</strong>.
        There's <strong>${{ challenge.moneyInThePot|intcomma }}</strong> in the pot and <strong>{{ numPlayers }}</strong> Competitor{{ numPlayers|pluralize }}.

        {% if competitor %}
            {% if not challenge.hasEnded %}
                {% if userAchievedGoal %}
                    <strong class="text-success">You are competing in this challenge and have met the goal!  You could get paid up to {{ challenge.achievedValue|currency }} when it ends!</strong>
                {% else %}
                    <strong class="text-primary">You are competing in this challenge!</strong>
                {% endif %}
            {% else %}
                {% if userAchievedGoal %}
                    <strong class="text-success">You competed in this challenge and earned {{ challenge.achievedValue|currency }}!</strong>
                {% else %}
                    <strong class="text-danger">You competed in this challenge, but failed to complete it.</strong>
                {% endif %}
            {% endif %}
        {% else %}
            {% if not challenge.hasEnded %}
                It's not too late to join this challenge.  Get in on the fun! Once you join, the <strong>ante is just ${{ challenge.ante|intcomma }}</strong>.
            {% else %}
                This challenge is history.
            {% endif %}
        {% endif %}
    </p>
    <p>
        {% if not challenge.hasStarted %}
            This Challenge will start in {{ challenge.startdate|timeuntil }}.
        {% elif challenge.hasEnded %}
            This Challenge ended {{ challenge.enddate|timesince }} ago.
        {% else%}
            <span data-waters="countdown" data-targetdate="{{ challenge.enddate|fullDate }}" data-numberpadding="1">
                This Challenge is under way, there's <span class="days-value"></span> Days, <span class="hours-value"></span> Hours, <span class="minutes-value"></span> Minutes and <span class="seconds-value"></span> Seconds left!
            </span>
        {% endif %}
    </p>
    <p>{{ challenge.description }}</p>

    {% if canJoin %}
        {% if user.is_authenticated %}
            <button class="join-challenge vertical-padding btn btn-primary btn-large" type="button">Join this Challenge</button>
        {% else %}
            <a class="vertical-padding btn btn-primary btn-large" href="{% url 'socialauth_begin' 'runkeeper' %}?next={{ request.path }}">Sign In with Runkeeper to Play</a>
        {% endif %}
    {% endif %}

    {% if not challenge.hasEnded and show_social %}
        <div class="fc-callout fc-callout-info" data-calloutid="social-callout-{{ challenge.id }}">
            <button type="button" class="close close-callout">&times;</button>
            <h4>It's more fun with friends. <small>Share the love</small></h4>
            <button type="button" class="btn btn-default btn-share" data-service="twitter"><i class="icon-twitter icon-2x"></i><br/>Tweet</button>
            <button type="button" class="btn btn-default btn-share" data-service="facebook"><i class="icon-facebook-sign icon-2x"></i><br/>Share</button>
            <button type="button" class="btn btn-default btn-share" data-service="google"><i class="icon-google-plus icon-2x"></i><br/>Share</button>
        </div>
    {% endif %}

    {% player_email user %}
    {% player_ante user challenge competitor %}

    <div class="tabbable">
        <ul class="nav nav-tabs" id="challenge_tabs">
            <li class="active"><a href="#leaderboard" data-toggle="tab">Leaderboard</a> </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    More <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#disqus" data-toggle="tab">Smack talk</a></li>
                    <li><a href="#rules" data-toggle="tab">The Rules</a> </li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="leaderboard">
                {% if "DISQUS_SHORTNAME"|fromSettings %}
                    <a id="disqus_count" href="#disqus_thread" data-disqus-identifier="{{ disqus_identifier }}">&nbsp;</a>
                {% endif %}
                {% if allPlayers %}
                    <table class="table table-striped leaderboard">
                        <thead>
                            <tr>
                                <th class="rank-column"></th>
                                <th class="avatar-column"></th>
                                <th></th>
                                <th class="miles-column">Miles</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for player in playersWithActivities %}
                            {% player_row user player challenge forloop.counter %}
                        {% endfor %}
                        {% for player in playersWithoutActivities %}
                            {% player_row user player challenge forloop.counter playersWithActivities|length %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="list-inline">
                        <li><i class="icon-heart red" title="Active today"></i> &mdash; Active today.</li>
                        <li><i class="icon-trophy"></i> &mdash; Achieved the goal.</li>
                        <li><i class="icon-star bronze"></i> &mdash; Achieved 1.5 times the goal.</li>
                        <li><i class="icon-star silver"></i> &mdash; Doubled the goal distance.</li>
                        <li><i class="icon-star gold"></i> &mdash; Tripled the goal distance.</li>
                    </ul>
                {% else %}
                    <p>
                        This challenge is now open to join.  You could be the first!
                    </p>
                {% endif %}
            </div>
            <div class="tab-pane" id="disqus">
                {% if "DISQUS_SHORTNAME"|fromSettings %}
                    <div id="disqus_thread"></div>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                {% else %}
                    DISQUS not available.
                {% endif %}
            </div>
            <div class="tab-pane" id="rules">
                <ul>
                    <li>Put ${{ challenge.ante|intcomma }} in the pot.</li>
                    <li>Complete {{ challenge.distance|floatformat:"-1" }} miles in {{ challenge.numDays }} days by {{ approvedActivities|commaSeparated:"or" }} between {{ challenge.startdate|date:"F jS, Y" }} and {{ challenge.enddate|date:"F jS, Y" }}.</li>
                    <li>Track your activity with <a href="http://runkeeper.com/" title="Runkeeper">Runkeeper.</a></li>
                    <li>Get Paid.  The money pot is dispersed evenly to those who finished the challenge.</li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var COUNTDOWN_TARGET_DATE = '{{ challenge.enddate|fullDate }}';
        $(".alert").alert();
        var hidePopovers = function(list) {
            $(list).popover('destroy');
            $(list).removeAttr('data-content');
        };

        $('body').click(function(evt) {
            if($(evt.target).parents('.popover').length == 0) {
                hidePopovers($('a.activities-link'));
            }
        });

        $('a.activities-link').popover().click(function(evt) {
            evt.stopPropagation(evt.target);

            if(($(evt.target).attr('data-content')) != null) {
                //popup already showing
                hidePopovers($('a.activities-link'));
            }else {
                hidePopovers(_.without($('a.activities-link'), evt.target));
                var url = $(this).data('url');
                $.get(url, function(result) {
                    $(this).attr('data-content', result);
                    $(this).popover('show');
                }.bind(this));
            }
        });

        $('body').delegate('.show-more-activities', 'click', function(evt) {
            var link = $(evt.target);
            $('.activities-list tr.hidden').removeClass('hidden');
            link.addClass('hidden');
        });

        $('.btn.settle-up').click(function(evt) {
            evt.preventDefault();
            var win = window.open('http://www.paypal.com', '_blank');
            win.focus();
        });

        $('.close-callout').click(function(evt) {
            evt.preventDefault();
            var $this = $(this),
                callout = $this.parent('.fc-callout'),
                calloutid = callout.data('calloutid');

            callout.remove();

            var hiddenCallouts = $.cookie('hidden_callouts') || '';

            hiddenCallouts = hiddenCallouts.length > 0 ? hiddenCallouts.split(',') : [];

            if( hiddenCallouts.indexOf(calloutid) < 0) {
                hiddenCallouts.push(calloutid);
            }

            $.cookie('hidden_callouts', hiddenCallouts.join(','));
            console.log(hiddenCallouts);
        });

        $('.btn-share').click(function(evt) {
           evt.preventDefault();
            var $this = $(this),
                service = $this.data('service');

            if(service === 'twitter') {
                var tweetBody = 'Compete. Get Fit. Get Paid.  Join "{{ challenge.name }}" with me! {{ request.build_absolute_uri }} #fitcompetition';
                window.open('https://twitter.com/intent/tweet?original_referer={{ request.build_absolute_uri|urlencode }}&text=' + encodeURIComponent(tweetBody), '', 'width=626,height=436')
            }else if(service === 'facebook') {
                window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{ request.build_absolute_uri }}'),
                            'facebook-share-dialog',
                            'width=626,height=436');
            }else if(service === 'google') {
                window.open('https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}', '', 'width=485,height=450')
            }
        });

        $('.join-challenge').click(function(evt) {
            evt.preventDefault();
            $.get("{% url 'join_challenge' challenge.id %}", function(result) {
                window.location.reload();
            });
        });

        $('.withdraw-challenge').click(function(evt) {
            evt.preventDefault();
            $.get("{% url 'withdraw_challenge' challenge.id %}", function(result) {
                window.location.reload();
            });
        });

        $('#challenge_tabs .dropdown-menu a').on('shown.bs.tab', function(evt) {
            var text = $(this).text();
            $(this).closest('.dropdown').find('.dropdown-toggle').html(text + ' <b class="caret"></b>');
        });

        $('a#disqus_count').click(function(evt) {
            evt.preventDefault();
            $('#challenge_tabs a[href="#disqus"]').tab('show');
        });

        {% if "DISQUS_SHORTNAME"|fromSettings %}
            //disqus instantiation javascript.
            var disqus_shortname = '{{ "DISQUS_SHORTNAME"|fromSettings }}'; // required: replace example with your forum shortname
            var disqus_identifier = '{{ disqus_identifier }}';

            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);


                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        {% endif %}
    </script>
{% endblock %}