{% extends 'base.html' %}
{% load apptags %}
{% load humanize %}
{% load staticfiles %}

{% block head_title %}Social Exercise Challenges{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Challenges <small>Compete. Get Fit. Get Paid.</small></h2>
    </div>

    <p class="lead">
		Fit Crown is a social fitness game you play with your friends.  Join an exercise challenge and put some cash in the pot.  Then, log your miles with Runkeeper.  If you go the distance before the challenge ends you get a piece of the pot!
	</p>
	<p><a href="{% url 'faq' %}">What's this all about?</a></p>
	{% player_email user %}
	{% challenges_table user upcomingChallenges "Starting Soon" "fa fa-clock-o" %}
    {% challenges_table user currentChallenges "In Progress" "fa fa-location-arrow" %}
	<h3 class="text-centered">${{ totalPaid|intcomma }} paid out to winners!</h3>
    {% challenges_table user pastChallenges "Recently Ended" "fa fa-flag-checkered" True %}
{% endblock %}