{% extends 'base.html' %}
{% load apptags %}
{% load humanize %}
{% load staticfiles %}

{% block head_title %}Social Exercise Challenges{% endblock %}

{% block body_class %}challenges{% endblock %}

{% block content %}
	<h1 class="black">Compete. Get Fit. Get Paid.</h1>

	<p class="lead black">
		Fit Crown is a social exercise game you play with your friends.  Join an exercise challenge and put some cash in the pot.  Then, log your miles with your favorite app.  If you go the distance before the challenge ends you get a piece of the pot!
	</p>

	{% include "inclusions/player_email.html" %}
	{% challenges_table user upcomingChallenges "Starting Soon" "fa fa-clock-o" %}
    {% challenges_table user currentChallenges "In Progress" "fa fa-location-arrow" %}
	<div class="challenge-metrics clearfix">
		{%  if upForGrabs > 0 %}
			<div class="metric">
				<h3>${{ upForGrabs|floatformat:0|intcomma }}</h3>
				<label>up for grabs</label>
			</div>
			<div class="metric">
				<h3>{{ playingNow|intcomma }}</h3>
				<label>participating now</label>
			</div>
			<div class="metric">
				<h3>{{ unReconciledChallenges|intcomma }}</h3>
				<label>current challenges</label>
			</div>
		{% endif %}
		<div class="metric">
			<h3>${{ totalPaid|floatformat:0|intcomma }}</h3>
			<label>paid out to winners</label>
		</div>
		<div class="metric">
			<h3>{{ totalAllTimePlayers|intcomma }}</h3>
			<label>all-time participants</label>
		</div>
		<div class="metric">
			<h3>{{ totalCompletedChallenges|intcomma }}</h3>
			<label>finished challenges</label>
		</div>
	</div>

	{#<div class="well supported-apps">#}
	{#	<div class="apps-grid">#}
	{#		<h4>Track your miles with one of these great fitness tracking apps:</h4>#}
	{#		<div class="app-icon runkeeper"><span><a href="http://runkeeper.com" target="_blank">Runkeeper</a></span></div>#}
	{#		<div class="app-icon strava"><span><a href="http://strava.com" target="_blank">Strava</a></span></div>#}
	{#		<div class="app-icon mapmyrun"><span><a href="http://www.mapmyrun.com" target="_blank">MapMyRun</a></span></div>#}
	{#		<div class="app-icon mapmyride"><span><a href="http://www.mapmyride.com" target="_blank">MapMyRide</a></span></div>#}
	{#		<div class="app-icon mapmywalk"><span><a href="http://www.mapmywalk.com" target="_blank">MapMyWalk</a></span></div>#}
	{#		<div class="app-icon mapmyhike"><span><a href="http://www.mapmyhike.com" target="_blank">MapMyHike</a></span></div>#}
	{#		<div class="app-icon mapmyfitness"><span><a href="http://www.mapmyfitness.com" target="_blank">MapMyFitness</a></span></div>#}
	{#	</div>#}
	{#</div>#}
    {% challenges_table user pastChallenges "Recently Ended" "fa fa-flag-checkered" True %}
{% endblock %}