{% extends 'base.html' %}
{% load apptags %}
{% load humanize %}
{% load staticfiles %}

{% block head_title %}Frequently Asked Questions{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>FAQ <small>Frequently Asked Questions</small></h2>
    </div>

    <div class="faq-content">
        <div class="question">
            <h3>What's this all about?</h3>
            <p>Maybe you're fit, maybe you're trying to get fit.  Either way, Fit Competition is fun for everybody.</p>
            <p>It's simple.  Join a challenge to complete a certain number of miles within a specific time frame.  Put the required ante in the pot, and if you complete the challenge, you share a peice of the pot with everyone else who completed the challenge!</p>
            <p>If everyone completes the challenge, everyone gets thier money back!  But if you are one of only a few to complete the challenge, you could win big!  You've got nothing to lose &mdash; except your excuses.</p>
        </div>

        <div class="question">
            <h3>If I take first place, do I get all the money in the pot?</h3>
            <p>No.  You split the pot with everyone who completed the challenge.  If everyone completes the challenge everyone gets their money back.</p>
        </div>

        <div class="question">
            <h3>Do I have to use Runkeeper?</h3>
            <p>For now, yes.  We intend add additional fitness tracking apps, but Runkeeper is the most popular so It was first pick.  If you prefer another tracking app, let us know which one!</p>
        </div>

        <div class="question">
            <h3>How do I know other competitors aren't cheating?</h3>
            <p>We belive people are generally good, and expect competitors to be honest.  But if something looks fishy, we will investigate and a player may be disqualified.</p>
        </div>

        <div class="question">
            <h3>Can I count miles done on the elliptical for my running/walking challenge?</h3>
            <p>No.  You must run or walk for the miles to count.</p>
        </div>

        <div class="question">
            <h3>Is this thing legit?</h3>
            <p>Indeed.  It's a fun way to be motivated to stay active -- with the added perk of making a few bucks if you do.</p>
        </div>

        <div class="question">
            <h3>So, I have to put money in the pot with Paypal?</h3>
            <p>Yes, Paypal is the preffered way to settle up.  It's secure, trusted and virtually everyone has an account.  You put money in the pot via Paypal and get paid via Paypal.  No funny business.</p>
        </div>

        <div class="question">
            <h3></h3>
            <p></p>
        </div>


    </div>

{% endblock %}