{% extends 'base.html' %}
{% load apptags %}

{% block head_title %}Fit Competition{% endblock %}

{% block head_css %}
    {{ block.super }}
{% endblock %}

{% block head_scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.activities-link').popover();
        });
    </script>
{% endblock %}

{% block content %}
    <div data-waters="countdown" data-targetdate="{{ goal.enddate|fullDate }}">
        <div class="inner-countdown">
            Get moving, there's
            <span class="days">
                <span class="countdown-value days-value">{{ goal.enddate|deltaDate:"days" }}</span><span> Days, </span>
            </span>
            <span class="hours">
                <span class="countdown-value hours-value">{{ goal.enddate|deltaDate:"hours" }}</span><span> Hours, </span>
            </span>
            <span class="minutes">
                <span class="countdown-value minutes-value">{{ goal.enddate|deltaDate:"mins" }}</span><span> Minutes and </span>
            </span>
            <span class="seconds">
                <span class="countdown-value seconds-value">{{ goal.enddate|deltaDate:"secs" }}</span><span> Seconds</span>
            </span>
            left!
        </div>
    </div>
    <div class="row-fluid">
        <h3><i class="icon-trophy icon-large"></i> Leaderboard</h3>
        <div class="row-fluid">
            <table class="table table-striped">
                <thead>
                    <th>Player</th>
                    <th>Distance</th>
                </thead>
                <tbody></tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.name }}</td>
                    <td><a class="activities-link" data-userid="{{ record.userID }}" data-toggle="popover" data-html="true" data-placement="bottom" data-title="Activities" data-content='
                        {% spaceless %}
                        <table class="table table-condensed">
                            <thead>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Miles</th>
                                <th>Duration</th>
                            </thead>
                            <tbody>
                                {% for activity in record.activities %}
                                    <tr>
                                        <td>{{ activity.start_time|date:"M j" }}</td>
                                        <td>{{ activity.type }}</td>
                                        <td>{{ activity.total_distance|toMiles }}</td>
                                        <td>{{ activity.duration|duration }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endspaceless %}'>{{ record.totalMiles|toMiles }} Miles</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <h3><i class="icon-legal icon-large"></i> The Rules</h3>
        <ul>
            <li>Put $10 in the pot.</li>
            <li>Run or Walk {{ goal.distance }} miles in {{ goal.numDays }} days.  Between {{ goal.startdate|date:"F j, Y" }} and {{ goal.enddate|date:"F j, Y" }}</li>
            <li>Track your activity with <a href="http://runkeeper.com/" title="Runkeeper">Runkeeper</a></li>
            <li>Get Paid.  The money pot is dispersed evenly to those who finished the challenge.</li>
        </ul>

    </div>
{% endblock %}