body {
    background: #f0f0f0 url('/static/img/darknoise.png');
}

@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.runkeeper-login-button {}

.countdown-value {
    font-weight: bold;
}

h3 i.icon-large {
    /*line-height: 28px;*/
    margin-right: 15px;
}

a.activities-link {
	cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.green {
    color: #00a855;
}

.red {
    color: #a80100;
}

.show-more-activities{
    cursor: pointer;
    margin-left: 5px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.miles-column {
    width: 35px;
}

.silver {
    color: #c0c0c0;
}

.golden {
    color: gold;
}

.activity-icon {
    width: 4px;
}

.activity-icon.running {
    background: url('/static/img/icon-running-small.png') no-repeat -2px 4px;
    /*width: 18px;*/
    height: 18px;
}

.activity-icon.walking {
    background: url('/static/img/icon-walking-small.png') no-repeat -2px 4px;;
    /*width: 18px;*/
    height: 18px;
}

.flair [class^="icon-"] {
    padding-left: 2px;
}

.col-small {
    width: 10px;
}

.dimmed-row {
    opacity: 0.4;
}

.join-challenge {
    margin-top: 20px;
    margin-bottom: 20px;
}