.main-container {
    padding: 0 10px;
}

.nav-tabs {
    margin-bottom: 15px;
}
.middle {
    margin-left: auto;
    margin-right: auto;
}

.runkeeper-login-button {
    margin-top: 20px;
    display: inline-block;
}

h3 i.icon-large {
    margin-right: 15px;
}

a.activities-link {
	cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.black {
    color: black;
}

.white {
    color: white;
}

.green {
    color: #00a855;
}

.red {
    color: #a80100;
}

.show-more-activities{
    cursor: pointer;
    margin-left: 5px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.miles-column {
    width: 35px;
}

.bronze {
    color: #CD7F32;
}

.silver {
    color: #c0c0c0;
}

.gold {
    color: gold;
}

.activity-icon {
    width: 18px;
	height: 18px;
	display: inline-block;
}

.activity-icon.cycling {
    background: url('/static/img/icon-cycling-small.png') no-repeat;
}

.activity-icon.mountain-biking {
    background: url('/static/img/icon-mountainbiking-small.png') no-repeat;
}

.activity-icon.running {
    background: url('/static/img/icon-running-small.png') no-repeat;
}

.activity-icon.walking {
    background: url('/static/img/icon-walking-small.png') no-repeat;
}

.activity-icon.hiking {
    background: url('/static/img/icon-hiking-small.png') no-repeat;
}

.activity-icon.elliptical {
    background: url('/static/img/icon-elliptical-small.png') no-repeat;
}

.player .name {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.player .flair [class^="fa"] {
    padding-left: 2px;
}

.col-small {
    width: 10px;
}

.col-medium {
    width: 100px;
}

.dimmed-row {
    opacity: 0.4;
}

.top-padding {
    margin-top: 20px;
}

.bottom-padding {
    margin-bottom: 20px;
}

.vertical-padding {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-icons a, .row-icons a:hover {
    text-decoration: none;
}

.rank-column {
    width: 10px;
}

.avatar-column {
    width: 59px;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    overflow: hidden;
    background-color: #e2e7ea;
}


.avatar .icon-check-sign {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.img-small {
    width: 75px;
    height: auto;
}

table.leaderboard tr td {
    vertical-align: middle;
    text-align: left;
}

div small.error {
    color: #B94A48; /* color to match Bootstraps error class */
}

.dimmed-text {
    color: #a9a9a9;
}

.table > tbody > tr.current-player td {
    background-color: #e7f4fb !important;
}

.table > tbody > tr.team td {
    background-color: #fcf8e3 !important;
    font-weight: bold;
    padding: 15px 8px;
}

tr.team .team-rank {
    margin-left: 5px;
    color: #c09853;
}

tr.team .team-total {
	margin-left: 5px;

}

.btn-share {
    margin-right: 10px;
}

.btn-standard {
     /*fallback */
    background-color: fefefe;
    background-repeat: repeat-x;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dedede));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #fefefe, #dedede);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #fefefe, #dedede);

    /* IE 10 */
    background: -ms-linear-gradient(top, #fefefe, #dedede);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #fefefe, #dedede);
}

.fa-twitter {
    color: #00adee;
}

.fa-facebook, .fa-facebook-square {
    color: #43609c;
}

.fa-google-plus, .fa-google-plus-square {
    color: #da4835;
}

.fc-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.fc-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.tooltip-inner {
	max-width: 300px;
}

.btn-sign-in {
	margin-right: 10px;
	margin-bottom: 10px;
}

.btn-sign-in .logo {
	display: inline-block;
}

.btn-sign-in.runkeeper .logo {
	background: url('/static/img/runkeeper-logo.png') no-repeat;
	width: 230px;
	height: 68px;
}

.btn-sign-in.mapmyfitness .logo {
	background: url('/static/img/mapmyfitness-logo.png') no-repeat;
	width: 230px;
	height: 67px;
}

.btn-sign-in.strava .logo {
	background: url('/static/img/strava-logo.png') no-repeat;
	width: 230px;
	height: 67px;
}

.list-challenges.dimmed {
	color: #a9a9a9;
}

.list-challenges.dimmed a, .list-challenges.dimmed a:visited, .list-challenges.dimmed a:active, .list-challenges.dimmed a:hover {
	color: #515151;
}

.challenge-stats {
	font-weight: bold;
}

.challenge-label {
	color: #999999;
	text-align: left;
	margin: 10px 0;
}

.challenge-value {
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}

.challenge-header {
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
}

.challenge-header .challenge-info {
}

.challenges-table {
	margin-bottom: 35px;
	margin-top: 35px;
}

.text-centered {
	text-align: center;
}

@media (max-width: 360px) {
    h1{
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }

    h6 {
        font-size: 10px;
    }


	.challenge-label, .challenge-stats, .challenge-stats-other {
		font-size: 11px;
	}

	.page-header {
        margin: 10px 0 10px;
    }

    table.leaderboard th, table.leaderboard td {
        padding: 4px 4px 4px 4px;
    }

    .avatar-column {
        width: 17px;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }

    .avatar .icon-check-sign {
        position: absolute;
        right: 4px;
        bottom: 4px;
    }

    .img-small {
        width: 30px;
        height: auto;
    }

    .runkeeper-login-button img {
        width: 100%;
        height: auto;
    }
}

.show-activity-image, .upload-activity-image {
	cursor: pointer;
}

input[name=activity-image] {
	display: none;
	height: 0;
}

.user-photo img {
	max-width: 300px;
	height: auto;
}

.supported-apps {
	margin-top: 30px;
}

.apps-grid {
	max-width: 680px;
	margin: 0 auto;
	text-align: center;
}

.app-icon {
	width: 100px;
	height: 120px;
	display: inline-block;
	margin: 5px;
	position: relative;
}

.app-icon a {
	color: black;
	text-shadow: 1px 1px 1px #ccc;
}

.app-icon span {
	position: absolute;
	top: 105px;
	left: 0px;
	text-align: center;
	width: 100px;
	color: black;
	text-shadow: 1px 1px 1px #ccc;
}

.app-icon.runkeeper {
	background: url('/static/img/app_runkeeper.png') no-repeat;
}

.app-icon.mapmyfitness {
	background: url('/static/img/app_mapmyfitness.png') no-repeat;
}
.app-icon.mapmyrun {
	background: url('/static/img/app_mapmyrun.png') no-repeat;
}
.app-icon.mapmywalk {
	background: url('/static/img/app_mapmywalk.png') no-repeat;
}
.app-icon.mapmyhike {
	background: url('/static/img/app_mapmyhike.png') no-repeat;
}
.app-icon.mapmyride {
	background: url('/static/img/app_mapmyride.png') no-repeat;
}

.evidence i {
	margin-right: 5px;
}

.light-blue {
	background-color: #e7f4fb !important;
}