<form novalidate name="formPayment" show-validation>
	<div class="modal-header">
		<h4 class="modal-title">Add money to the pot</h4>
	</div>
	<div class="modal-body">
		<h5>Line items</h5>
		<div>
			<table class="table table-condensed">
				<tbody>
				<tr ng-repeat="item in details.lineItems">
					<td>{{ item.description }}  <i ng-if="item.info" class="fa fa-info-circle" tooltip-placement="right" tooltip="{{item.info}}"></i></td>
					<td>{{ item.value|currency }}</td>
				</tr>
				</tbody>
				<tfoot>
				<tr class="active">
					<th>Total</th>
					<th>{{ details.totalCost|currency }}</th>
				</tr>
				</tfoot>
			</table>
		</div>
		<h5><i class="fa fa-lock"></i> Payment method</h5>
		<div class="alert alert-danger" ng-show="details.errorMessage">{{ details.errorMessage }}</div>
		<div class="existing-payment-method" ng-if="details.isCustomer && details.existingCard">
			<span class="card" ng-class="details.existingCard.type|slugify"></span><span> ending in {{ details.existingCard.last4 }} <a class="btn-link" ng-click="replaceCardDetails();">Change</a></span>
		</div>
		<div class="well" ng-if="!details.isCustomer || !details.existingCard">
				<div class="form-group">
					<input ng-disabled="details.submitting" id="customerName" type="text" class="form-control" placeholder="Name on card" ng-model="newcard.name" required/>
				</div>

				<div class="form-group">
					<div class="relative">
						<input ng-disabled="details.submitting" id="cardNumber" type="text" class="form-control" ng-model="newcard.number" payments-validate="card" payments-format="card" payments-type-model="newcard.type" placeholder="Card number" required/>
						<span class="card card-input" ng-class="newcard.type"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<input ng-disabled="details.submitting" id="expiry" type="text" class="form-control" ng-model="newcard.expiry" payments-validate="expiry" payments-format="expiry" placeholder="MM/YY" required/>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<input ng-disabled="details.submitting" id="cardCVC" type="text" class="form-control" ng-model="newcard.cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" placeholder="CVC" required/>
						</div>
					</div>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="details.remember"> Remember my payment information
						<p class="help-block" ng-show="details.remember">Fit Crown will store your payment information securely for quicker payments in the future.</p>
					</label>
				</div>
		</div>
		<div class="stripe-powered small-margin-top"></div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-link" ng-click="cancel()" ng-disabled="details.submitting">Cancel</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="formPayment.$invalid || details.submitting"><i ng-show="details.submitting" class="fa fa-spinner fa-spin"></i> Pay {{ details.totalCost|currency }}</button>
	</div>
</form>
