{% extends 'email/base.html' %}
{% load apptags %}
{% load humanize %}

{% block content %}
	<p>Hey {{user.first_name}}!</p>

	<p>Welp, that's a wrap.  The "<a href="{{ "BASE_URL"|fromSettings }}{% url "challenge_details" challenge.id %}">{{ challenge.name }}</a>" challenge has ended!</p>
	<p>
		{% if achievedGoal %}
			Wow!  You rocked the house and completed the challenge with {{ user.total_distance|toMiles|floatformat:"-1" }} miles!
			Way to go!!  You are one of {{ challenge.numWinners }} people to complete the challenge.  Pat yourself on the back.  We've credited {{ challenge.disbursementAmount|currency }} to <a href="{{ "BASE_URL"|fromSettings }}{% url "account" %}">your account</a>.<br/>
		{% else %}
			You logged {{ user.total_distance|toMiles|floatformat:"-1" }} mile{{ user.total_distance|toMiles|pluralize }}.  That's an "A" for effort.  But sadly you did not complete the challenge.
		{% endif %}
	</p>
	{% if upcomingChallenges|length > 0 %}
		<p>Don't stop now, get in on one of our upcoming challenges today!  These challenges are starting soon:</p>
		<ul>
			{% for challenge in upcomingChallenges %}
				<li>"<a href="{{ "BASE_URL"|fromSettings }}{% url "challenge_details" challenge.id %}">{{ challenge.name }}</a>" challenge &mdash; {{ challenge.distance|floatformat:"-2"|intcomma }} miles &mdash; {{ challenge.numDays }} days</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>We hope you'll <a href="{{ "BASE_URL"|fromSettings }}">play again</a> soon!</p>
	{% endif %}

{% endblock %}