{% extends 'email/base.html' %}
{% load apptags %}
{% load humanize %}

{% block content %}
	<p>Hey {{user.first_name}}!</p>

	<p>How's it going?  Can you believe the "<a href="{{ "BASE_URL"|fromSettings }}{% url "challenge_details" challenge.id %}">{{ challenge.name }}</a>" challenge is already half over!?</p>
	<p>
		{% if achievedGoal %}
			Wow, you've logged {{ user.total_accounting|floatformat:"-1" }} mile{{ user.total_accounting|pluralize }}!
			Way to go, you've already achieved the goal!!  That was easy.  Now it's time to dominate the leaderboard and shoot for the stars by doubling or tripling the goal.  You can do it!
		{% elif user.total_accounting > 0 %}
			You've already logged {{ user.total_accounting|floatformat:"-1" }} mile{{ user.total_accounting|pluralize }}!
			You're well on your way to conquer this thing.  And there's still plenty of time to rock this challenge.  Remember, there's ${{ challenge.moneyInThePot|floatformat:"-2"|intcomma }} in the pot!  You can do it!
		{% else %}
			Looks like you haven't logged any miles yet! Eek!  Don't worry, there's still plenty of time to rock this challenge.  Remember, there's ${{ challenge.moneyInThePot|floatformat:"-2"|intcomma }} in the pot!  You can do it!
		{% endif %}
	</p>

	<p>The challenge ends on {{ challenge.enddate|date:"F j, Y" }}.</p>

	<p>
		{% if user.account.balance < 0 %}
			BTW, you owe {{ user.account.balance|abs|currency }}.  <a href="{{ "BASE_URL"|fromSettings }}{% url "account" %}">Settle up</a> soon or you won't be eligible to win!
		{% endif %}
	</p>
{% endblock %}