{% extends 'email/base.html' %}
{% load apptags %}
{% load humanize %}

{% block content %}
	<table>
		<tr>
			<td>
				<h1>That's a wrap</h1>
				<p>Hey {{user.first_name}}!</p>

				<p>It's over!  The <a href="{{ "BASE_URL"|fromSettings }}{% url "challenge_details" challenge.slug %}">{{ challenge.name }}</a> challenge has ended!</p>
				<p>
					{% if challenge.isTypeIndividual %}
						{% if achievedGoal %}
							Wow!  You rocked the house and completed the challenge with {% accounting user.total_accounting challenge.accountingType user True %}!
							Way to go!!  You are one of {{ challenge.numWinners }} people to complete the challenge.  Pat yourself on the back.  We've credited {{ challenge.disbursementAmount|currency }} to <a href="{{ "BASE_URL"|fromSettings }}{% url "account" %}">your account</a>.<br/>
						{% else %}
							You logged {% accounting user.total_accounting challenge.accountingType user True %}.  That's an "A" for effort.  But sadly you did not complete the challenge.
						{% endif %}
					{% elif challenge.isTypeTeam and challenge.isStyleWinnerTakesAll %}
						{% if isWinner %}
							Congratulations, your team won!  The pot has been split between you and your teammates.  We've credited {{ challenge.disbursementAmount|currency }} to <a href="{{ "BASE_URL"|fromSettings }}{% url "account" %}">your account</a>.
						{% else %}
							It was a valiant effort, but you've been beat.  Hey, it happens.  Thanks for playing!
						{% endif %}
					{% endif %}
				</p>

				<!-- button -->
				<table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>
							<a href="{{ "BASE_URL"|fromSettings }}{% url "challenge_details" challenge.slug %}">View the challenge</a>
						</td>
					</tr>
				</table>
				<!-- /button -->

				{% if upcomingChallenges|length > 0 %}
					<p>Don't stop now, get in on one of our upcoming challenges today!  These challenges are starting soon:</p>
					<ul>
						{% for challenge in upcomingChallenges %}
							<li>"<a href="{{ "BASE_URL"|fromSettings }}{% url "challenge_details" challenge.slug %}">{{ challenge.name }}</a>" challenge &mdash; {% accounting challenge challenge.accountingType user %} &mdash; {{ challenge.numDays }} days</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>We hope you'll <a href="{{ "BASE_URL"|fromSettings }}">play again</a> soon!</p>
				{% endif %}
			</td>
		</tr>
	</table>
{% endblock %}